<footer class="bg-main-light py-3">
  <div class="container">
    <h2>Get all product you need ❤😊</h2>
    <p class="text-muted">
      We will send you a link, open it on your phone to download the app.
    </p>

    <div class="d-flex gap-3">
      <input type="email" class="form-control" placeholder="Email.." />

      <button class="main-btn px-4 flex-shrink-0">Share App Link</button>
    </div>

    <h3 class="h6 text-center mt-3">
      <hr />
      &copy; 2024 Eissa El-Emam All Right Reserved
    </h3>
  </div>
</footer>
