<section class="py-3">
  <div class="row g-0">
    <div class="col-md-9">
      <owl-carousel-o [options]="mainSlidOptions">
        <ng-template carouselSlide>
          <img
            src="./assets/images/main-slider-1.jpeg"
            height="400"
            alt="main-slider 1"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/images/main-slider-2.jpeg"
            height="400"
            alt="main-slider 2"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/images/main-slider-3.jpeg"
            height="400"
            alt="main-slider 3"
          />
        </ng-template>
      </owl-carousel-o>
    </div>

    <div class="col-md-3">
      <owl-carousel-o [options]="mainSlidOptions">
        <ng-template carouselSlide>
          <img src="./assets/images/slide-1.jpeg" height="200" alt="slide 1" />
          <img src="./assets/images/slide-2.jpeg" height="200" alt="slide 2" />
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section *ngIf="productsData.length > 0" id="category" class="py-3">
  <h2 class="text-center my-5">Popular Categories</h2>

  <owl-carousel-o [options]="categoryOptions">
    <ng-container *ngFor="let category of categories">
      <ng-template carouselSlide>
        <img
          [src]="category.image"
          [alt]="category.name"
          [title]="category.name"
          height="290px"
        />

        <h3 class="text-center my-2 h5 text-main">{{ category.name }}</h3>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>

<!-- START OF POPULAR PROUDUCT -->
<section *ngIf="productsData.length > 0" id="products">
  <h2 class="text-center my-5">Popular Product</h2>

  <input
    type="search"
    class="form-control w-50 mx-auto"
    placeholder="You can search..."
    [(ngModel)]="term"
  />

  <div class="row g-4 my-5">
    <div
      class="col-sm-6 col-md-4 col-lg-3 col-xl-2"
      *ngFor="let item of productsData | slice : 0 : 18 | search : term"
    >
      <div class="product p-2 overflow-hidden h-100">
        <header [routerLink]="['/details', item._id]" role="button">
          <img
            [src]="item.imageCover"
            [alt]="item.title"
            [title]="item.title"
            class="w-100"
          />
          <h4 class="h6 text-main">{{ item.category.name }}</h4>
          <h5 class="h5 my-3 small">
            {{ item.title | cuttext : 2 }}
          </h5>

          <div
            class="product-footer d-flex align-items-center justify-content-between mt-2"
          >
            <span class="small">{{ item.price | currency : "E£ " }}</span>
            <p class="m-0">
              <i class="fas fa-star rating-color me-1"></i>
              <span class="text-muted"> {{ item.ratingsAverage }}</span>
            </p>
          </div>
        </header>

        <footer>
          <button
            (click)="addProduct(item._id, addBtn)"
            class="main-btn my-2 w-100"
            #addBtn
          >
            + Add To Cart
          </button>
        </footer>
      </div>
    </div>
  </div>
</section>
