/* You can add global styles to this file, and also import other style files */

@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

@import "ngx-toastr/toastr";

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap");
$main-color: #5fbdff;
$light-color: #f0f3f2;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;
$main-transition: all 0.8s;
$hovaring-color: #5fbcffc5;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 5px;
}

body {
  font-family: $font-family;
}

.text-main {
  color: $main-color;
}

.text-main-light {
  color: $light-color;
}

.bg-main-light {
  background-color: $light-color;
}

.rating-color {
  color: $rating-color;
}

.main-btn {
  background-color: $main-color;
  color: #fff;
  border-radius: 5px;
  border: unset;
  padding: 4px, 6px;

  &:disabled {
    background-color: $hovaring-color;
    color: #ffffff9c;
    cursor: not-allowed;
  }
}

.product {
  border: 1px solid $main-color;
  border-radius: 5px;
  padding: 4px;
  box-shadow: $shadow;
  transition: all 0.5s ease;

  .heart {
    font-size: 30px;
    top: 5px;
    right: -45px;
    transition: all 0.5s ease;
  }

  .main-btn {
    transform: translateY(170%);
    transition: all 0.5s ease;
  }

  &:hover {
    scale: 1.03;
    .heart {
      right: 5px;
    }

    .main-btn {
      transform: translateY(0);
    }
  }
}

.active-link {
  color: #fff !important;
  background-color: $main-color !important;
  border-radius: 5px !important;
}

.main-shadow {
  box-shadow: $shadow;
}
